@model ReservaCine.Models.Pelicula

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear nueva Película</h1>

<h4>Película</h4>
<hr />
<div class="row text-light">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaLanzamiento" class="control-label"></label>
                <input asp-for="FechaLanzamiento" class="form-control" />
                <span asp-validation-for="FechaLanzamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <br />
                <select id="ddlGenero" name="GeneroId" class="custom-select">
                    <option value="">-- Seleccionar Genero --</option>
                    @foreach (Genero genero in ViewBag.GeneroId)
                    {
                        <option value="@genero.Id">@genero.Nombre</option>
                    }
                </select>
                <input asp-for="GeneroId" type="hidden" name="GeneroId" class="form-control" />
                <span asp-validation-for="GeneroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
