@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-2">Bienvenidos</h1>
    <h2 class="display-4">Cine Angels & Devils</h2>
</div>

<div class="col-md-8 offset-md-2">
    <div class="card-deck">
            <div class="card">@*agrego tarjeta con imagen *@
                <img class="card-img-top" src="~/Imagenes/ElConjuro.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">El Conjuro</h5>
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/Imagenes/avatar.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Avatar</h5>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/Imagenes/laviudanegra.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">La Viuda Negra</h5>
                </div>
            </div>
        </div>
</div>